[Desktop Entry]
Comment=docker start/stop control widget
Encoding=UTF-8
Icon=docker
Name=Drydock
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Tjaart Blignaut
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Email=tjaartblig@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.drydock
X-KDE-PluginInfo-Version=1.2.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
